.container {
	background-color: salmon;
	padding: 16px;

	display: flex;
	justify-content: space-between;
	gap: 16px;
	flex-direction: row;
}

.item {
	background-color: aqua;
	border: 1px solid black;
	text-align: center;
	padding: 16px;
	width: 100px;
}

.item.two {
	flex-grow: 2;
}

.item.three {
	flex-shrink: 0;
}
