body {
	background: #eee;
	font-family: sans-serif;
}

.card {
	width: 400px;
	background: #fff;
	margin: 16px auto;
	padding: 12px;
}

.title {
	background: #e3f4ff;
	padding: 8px 4px;
	margin-top: 0;
	margin-bottom: 12px;
}

.content {
	background: #e3f4ff;
	padding: 12px 4px;
	margin-bottom: 12px;
}

.button-container {
	background: #e3f4ff;
	text-align: center;
	padding: 8px;
}

.title,
.content,
.button-container {
	font-size: 16px;
}

button {
	background: white;
	border: 1px solid #eee;
	display: block;
	margin: 0 auto;
	width: 120px;
	padding: 8px 16px;
}
