* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: #5d6063;
	background-color: #eaedf0;
	font-family: sans-serif;
	font-size: 1.6rem;
	line-height: 1.3;

	display: flex;
	flex-direction: column;
	align-items: center;
}

/* header */
.speaker-form-header {
	text-align: center;
	background-color: #f6f7f8;
	border: 1px solid #d6d9dc;
	border-radius: 3px;

	width: 80%;
	margin: 4rem 0;
	padding: 5rem;
}

.speaker-form-header h1 {
	font-size: 3rem;
	margin-bottom: 2rem;
}

/* form body */
.speaker-form {
	background-color: #f6f7f8;
	border: 1px solid #d6d9dc;
	border-radius: 3px;

	width: 80%;
	padding: 5rem;
	margin: 0 0 4rem 0;
}

/* form-row */
.form-row {
	margin-bottom: 4rem;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}

.form-row label {
	margin-bottom: 1.5rem;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row select,
.form-row textarea {
	background-color: #ffffff;
	border: 1px solid #d6d9dc;
	border-radius: 3px;
	width: 100%;
	padding: 0.7rem;
	font-size: 1.4rem;
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
	border: 1px solid #d55c5f;
	color: #d55c5f;
	box-shadow: none;
}

/* radio */
.legacy-form-row {
	border: none;
	margin-bottom: 4rem;
}

.legacy-form-row legend {
	margin-bottom: 1.5rem;
}

.legacy-form-row .radio-label {
	display: block;
	font-size: 1.4rem;
	padding: 0 2rem 0 1rem;
}

.legacy-form-row input[type='radio'] {
	margin-top: 0.2rem;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
	float: left;
}

@media only screen and (min-width: 700px) {
	/* header */
	.speaker-form-header,
	.speaker-form {
		width: 60rem;
	}

	/* form-row */
	.form-row {
		flex-direction: row;
		align-items: flex-start;
		gap: 2rem;
		margin-bottom: 2rem;
	}

	/* fullname */
	.form-row label {
		text-align: right;
		width: 12rem;
		margin-top: 0.7rem;
	}

	.form-row input[type='text'],
	.form-row input[type='email'] {
		width: 25rem;
		height: initial;
	}

	/* radio */
	.legacy-form-row {
		margin-bottom: 1rem;
	}

	.legacy-form-row legend {
		width: 12rem;
		text-align: right;
		padding-right: 2rem;
	}

	.legacy-form-row legend {
		float: left;
	}
}
