* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: #5d6063;
	background-color: #eaedf0;
	font-family: sans-serif;
	font-size: 1.6rem;
	line-height: 1.3;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.speaker-form-header {
	text-align: center;
	background-color: #f6f7f8;
	border: 1px solid #d6d9dc;
	border-radius: 3px;

	width: 80%;
	margin: 4rem 0;
	padding: 5rem;
}

.speaker-form-header h1 {
	font-size: 3rem;
	margin-bottom: 2rem;
}
