@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-family: Roboto, sans-serif;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

img {
	width: 600px;
}

button {
	font-family: Roboto, sans-serif;
	font-weight: 600;
	border: none;
	border-radius: 8px;
	background: #eee;
	padding: 8px 16px;
}

input {
	border: 1px solid #ddd;
	border-radius: 16px;
	padding: 8px 24px;
	width: 400px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #555;
}

/* commons */
.header,
.footer {
	padding: 16px;
	display: flex;
	justify-content: space-between;
}

.left-links,
.right-links {
	display: flex;
	gap: 16px;
}

/* header */

/* content */
.content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	margin-bottom: 64px;
}

.buttons {
	display: flex;
	gap: 16px;
}

/* footer */

.footer {
	background-color: #eee;
}
